definitions:
  dto.CostRequest:
    properties:
      end_date:
        example: 02-2025
        type: string
      service_name:
        example: Yandex Plus
        type: string
      start_date:
        example: 01-2025
        type: string
      user_id:
        example: dceb1963-e152-47ff-a562-81a360627309
        type: string
    type: object
  dto.CostResponce:
    properties:
      cost:
        example: 900
        type: integer
      months_count:
        example: 3
        type: integer
      service_name:
        example: Yandex Plus
        type: string
      user_id:
        example: dceb1963-e152-47ff-a562-81a360627309
        type: string
    type: object
  dto.CreateSubRequest:
    properties:
      end_date:
        example: 02-2025
        type: string
      price:
        example: 400
        type: integer
      service_name:
        example: Yandex Plus
        type: string
      start_date:
        example: 01-2025
        type: string
      user_id:
        example: dceb1963-e152-47ff-a562-81a360627309
        type: string
    type: object
  dto.CreateSubResponce:
    properties:
      subscription_id:
        example: 123
        type: integer
      success:
        example: true
        type: boolean
    type: object
  dto.DeleteSubResponce:
    properties:
      success:
        example: true
        type: boolean
    type: object
  dto.LoadSubResponce:
    properties:
      end_date:
        example: 02-2025
        type: string
      id:
        example: 1
        type: integer
      price:
        example: 400
        type: integer
      service_name:
        example: Yandex Plus
        type: string
      start_date:
        example: 01-2025
        type: string
      user_id:
        example: dceb1963-e152-47ff-a562-81a360627309
        type: string
    type: object
  dto.UpdateSubRequest:
    properties:
      end_date:
        example: 07-2025
        type: string
      id:
        example: 1
        type: integer
      price:
        example: 399
        type: integer
      service_name:
        example: Yandex Minus
        type: string
      start_date:
        example: 05-2025
        type: string
      user_id:
        example: dceb1963-e152-47ff-a562-81a360627309
        type: string
    type: object
  dto.UpdateSubResponce:
    properties:
      success:
        example: true
        type: boolean
    type: object
  handler.ErrorBadRequest:
    properties:
      message:
        example: error text
        type: string
      status:
        example: bad request
        type: string
      success:
        example: false
        type: boolean
    type: object
  handler.ErrorInternalError:
    properties:
      message:
        example: error text
        type: string
      status:
        example: internal error
        type: string
      success:
        example: false
        type: boolean
    type: object
  handler.ErrorNotFound:
    properties:
      message:
        example: error text
        type: string
      status:
        example: entity not found
        type: string
      success:
        example: false
        type: boolean
    type: object
info:
  contact: {}
paths:
  /subscription:
    get:
      description: Returns a list of subscription objects
      parameters:
      - description: offset
        in: query
        name: offset
        required: true
        type: string
      - description: limit
        in: query
        name: limit
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: '#/definitions/dto.LoadSubResponce'
            type: array
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorBadRequest'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorNotFound'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.ErrorInternalError'
      summary: Read subscription list
      tags:
      - Subscription
    patch:
      consumes:
      - application/json
      description: Returns an ID updated subscription.
      parameters:
      - description: Subscription update data
        in: body
        name: subscription
        required: true
        schema:
          $ref: '#/definitions/dto.UpdateSubRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.UpdateSubResponce'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorBadRequest'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorNotFound'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.ErrorInternalError'
      summary: Update subscription by ID
      tags:
      - Subscription
    post:
      consumes:
      - application/json
      description: Returns a new subscription object.
      parameters:
      - description: Subscription create data
        in: body
        name: subscription
        required: true
        schema:
          $ref: '#/definitions/dto.CreateSubRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.CreateSubResponce'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorBadRequest'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.ErrorInternalError'
      summary: Create new subscription
      tags:
      - Subscription
  /subscription/{id}:
    delete:
      description: Returns an ID deleted subscription.
      parameters:
      - description: Subscription ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.DeleteSubResponce'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorBadRequest'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorNotFound'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.ErrorInternalError'
      summary: Delete subscription by ID
      tags:
      - Subscription
    get:
      description: Returns a subscription object.
      parameters:
      - description: Subscription ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.LoadSubResponce'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorBadRequest'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorNotFound'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.ErrorInternalError'
      summary: Read subscription by ID
      tags:
      - Subscription
  /subscription/cost:
    post:
      consumes:
      - application/json
      description: Returns a cost of subscriptions by user ID, date and service name
      parameters:
      - description: Subscription update data
        in: body
        name: subscription
        required: true
        schema:
          $ref: '#/definitions/dto.CostRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/dto.CostResponce'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/handler.ErrorBadRequest'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/handler.ErrorNotFound'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/handler.ErrorInternalError'
      summary: Cost subscription
      tags:
      - Subscription
swagger: "2.0"
